<h1> About me </h1>
<section class="post">
  I was born in Spain.
  <h3>Electronic Engineering Student</h3>
  <p>I study Electronic Engineering at Universidad Politécnica de Madrid. In Spain there are two branches of Electronic Engineering: one focused on <strong>Telecommunications</strong> and other focused on Industrial applications. I study the former.</p>


  <h3>IEEE Student Branch Campus Sur Chair</h3>
  <img src="/images/ieee_mb_blue.jpg" style="float: right; width: 250px;"/>
  <p><a href="http://www.ieee.org/">IEEE</a> is the world's largest professional association dedicated to advancing technological innovation and excellence for the benefit of humanity.
  <br><br>
  We work as a team organizing and preparing talks and workshops.</p>
  <p><a class="btn btn-secondary" href="http://aetel.etsist.upm.es">IEEE SB UPM Sur</a></p>
</section>
